{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}
        
    {% block head_title %}Guillaume Sainthillier - {% block title %}{% endblock %}{% endblock %}        
        
    {% block head_css %}
        <!-- CSS -->
        {% stylesheets 
            'css/bootstrap.min.css'
            'css/font-awesome.min.css'
            'css/style.css'

            filter='cssrewrite,?yui_css'
            output='prod/css/base.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
        {% endstylesheets %}
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        {% block css %}
        {% endblock %}
    {% endblock %}
                        
    {% block body_container %}
        <div id="wrap">
            {% include "::menu.html.twig" %}
            <div class="container">
                <div class="header text-center">
                    <h1 class="titrebloc">{% block body_container_header %}{% endblock %}</h1>
                </div>
                
                {# On affiche les messages flash que définissent les contrôleurs du bundle #}
                {% for key, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ key == "error" ? "danger" : key }}">
                            <i class="fa fa-{{ key == 'info' ? 'info-sign' : (key == 'error' ? 'warning' : key == 'success' ? 'check' : key) }}"></i> 
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block body_container_main %}{% endblock %}
            </div>
        </div>
        {% include "::footer.html.twig" %}
    {% endblock %}
        
    {% block body_js %}
        {{ parent() }}
        <!-- JavaScript -->
        <!--[if lte IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif] -->

        {% javascripts 
            'js/bootstrap.min.js'
            'js/scripts.js'

            filter='?yui_js'
            output='prod/js/base.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
            
        {% block js %}				
        {% endblock %}
    {% endblock %}