{% set navigation =
[
	['cv', 'CV','fa-briefcase'],
	['parcours', 'Parcours','fa-road'],
	['attentes', 'Attentes','fa-pagelines'],
	['personnalite', 'Personnalité','fa-user'],
	['competences', 'Compétences','fa-list'],]
%}


<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="{{ path('pc_presentation_page', { 'page': 'accueil' }) }}"><i>Guillaume Sainthillier</i></a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% for i,item in navigation %}
                <li class="{% if page == item[0] %}active{% endif%}">
                    <a title="{{ item[1] }}" class="menu-item" href="{{ path('pc_presentation_page', { 'page': item[0] }) }}">
                        <i class="fa fa-2x {{item[2]}}"></i>
                        <strong>{{ item[1]|raw }}</strong>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>