{% extends "::base.html.twig" %}


{% block title %}
Parcours
{%endblock %}

{% block body_container_header %}
Parcours professionnel
{%endblock %}

{% 
    set parcours = [
        {
            'annee' : '2013',
            'titre': 'Blaaaaaaa',
            'periode':'du blaaa au blaaa',
            'description': 'bcp de braaaaaaaaaaaaaa'
        },
        {
            'annee' : '2013',
            'titre': 'Développeur Web',
            'periode':'Avril à Juin 2013',
            'description': 'bcp de braaaaaaaaaaaaaa'
        },
        {
            'annee' : '2011',
            'titre': 'Développeur Web',
            'periode':'de Janvier 2011 à Juin 2013',
            'description': 'Maintenance et développement de modules sur une application Web à destination des Polices Municipales. Société ICM Services, CASTANET(31)'
        }
    ]
%}

{% block body_container_main %}
<div class="timelapse">
    <ul class="timeline">
        {% set old_annee = '' %}
        {% for job in parcours %}
            {% if old_annee != job.annee %}
                <li class="annee">{{ job.annee }}</li>
            {% endif %}
            <li class="event">
                <h3 class="titre">{{ job.titre }}</h3>
                <span class="mois"><i class="fa fa-calendar"></i> {{ job.periode }}</span>
                <p>
                    {{ job.description }}
                </p>
            </li>
            {% set old_annee = job.annee %}
        {% endfor %}
        
    </ul>
</div>
{% endblock %}


{% block css %}
    {% stylesheets 
        'css/timelapse.css'

        filter='cssrewrite,?yui_css'
        output='prod/css/timelapse.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
{% endblock %}