{% extends "::base.html.twig" %}


{% block title %}
Parcours
{%endblock %}

{% block body_container_header %}
<span class="rouge">Parcours professionnel</span>
{%endblock %}

{% 
    set parcours = [
        {
            'annee' : '2014',
            'titre': "<i class='fa fa-book'></i> Master <abbr title='Informatique Collaborative en Entreprise'>ICE</abbr>",
            'periode':"de Septembre 2013 à Aujourd'hui",
            'description': "Le Master ICE apporte la nécessaire maîtrise des techniques et outils de développement informatiques, tout particulièrement dans un contexte collaboratif."
        },
        {
            'annee' : '2013',
            'titre': 'Développeur Web - CHU Purpan',
            'periode':"de Avril 2013 à Aujourd'hui",
            'description': "Conception, développement et maintenance de modules d’une application de gestion des dossiers patients:<br>
                            • Amélioration des interfaces homme-machine. <br>
                            • Amélioration du système de reporting. <br>
                            • Sécurisation des données médicales. <br>
                            • Ouverture du système aux différents partenaires de l'assistance médicale en mer. <br>
                            • Utilisation de SVN et Git pour les applications de l'entreprise. <br>
                            • Développement Symfony2. <br><br>
                            <span class='italic'>Hôpital de Toulouse - Purpan (31)</span>"
        },
        {
            'annee' : '2013',
            'titre': 'Développeur Web - TripAndTeuf',
            'periode':'de Février 2013 à Mai 2013',
            'description': "Maintenance du site de l'association:<br>
                            • Conception et développement d'un mini-framework. <br>
                            • Migration du site de PHP 4 à PHP 5.3. <br>
                            • Utilisation de SVN pour le site de l'association. <br><br>
                           <span class='italic'>Association TripAndTeuf, Villeneuve la Garenne (92)</span>"
        },
        {
            'annee' : '2012',
            'titre': "<i class='fa fa-book'></i> Licence L3 <abbr title='Mathématiques et Informatique Appliqués aux Sciences Humaines et Sociales'>MIASHS</abbr>",
            'periode':'de Septembre à Juin 2013',
            'description': "La Licence MIASHS associe l'étude des mathématiques et de l'informatique à l'étude d'une discipline dans le domaine des sciences humaines et sociales."
        },
        {
            'annee' : '2011',
            'titre': 'Développeur Web - ICM Services',
            'periode':'de Janvier 2011 à Juin 2013',
            'description': "Maintenance et développement de modules sur une application à destination des Polices Municipales:<br>
                            • Développement OpenMairie. <br>
                            • Amélioration du Framework. <br>
                            • Développement de la plateforme de statistiques. <br>
                            • Conception et développement d'outils internes. <br>
                            • Mise en place et utilisation de SVN pour les sites de l'entreprise. <br><br>
                            <span class='italic'>Société ICM Services, CASTANET(31)</span>"
        },
        {
            'annee' : '2010',
            'titre': "Agent d'entretien",
            'periode':'de Juin 2009 à Août 2009',
            'description': "Découverte du monde du travail, intégration dans une équipe. <br /><br />
                            <span class='italic'>Société ISOR, TOURNEFEUILLE(31)</span>"
        },
{
            'annee' : '2009',
            'titre': "<i class='fa fa-book'></i> <abbr title='Diplôme Universitaire et Technologique'>DUT</abbr> Informatique et Gestion",
            'periode':'de Septembre 2009 à Juin 2012',
            'description': 'Le département informatique de l’IUT a pour vocation d’apporter les compétences techniques et les aptitudes professionnelles nécessaires au développement et à la mise en œuvre d’outils informatiques dans les entreprises.'
        }
    ]
%}

{% block body_container_main %}
<div class="timelapse">
    <ul class="timeline">
        {% set old_annee = '' %}
        {% for i,job in parcours %}
            {% if old_annee != job.annee %}
                <li class="annee">{{ job.annee }}</li>
            {% endif %}
            <li class="event {{ i is even ? 'float_gauche' : ''}}">
                <h3 class="titre">{{ job.titre|raw }}</h3>
                <span class="mois"><i class="fa fa-calendar"></i> {{ job.periode }}</span>
                <p>
                    {{ job.description|raw }}
                </p>
            </li>
            {% set old_annee = job.annee %}
        {% endfor %}
        
    </ul>
</div>
{% endblock %}


{% block css %}
    {% stylesheets 
        'css/timelapse.css'

        filter='cssrewrite,?yui_css'
        output='prod/css/timelapse.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
{% endblock %}